body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

h1 {
    font-size: 48px;
}
.content {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sizeslider {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: lightskyblue;
    padding: 10px;
    border: thin solid black;
}

.color {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    padding: 10px;
    border: thin solid black;
}

.apply {
    flex: 0;
    width: auto;
    margin: 5px;
}

.box {
    display: flex;
    border: thin solid black;
    width: 700px;
    aspect-ratio: 1/1;
}

div.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: thin solid black;
}

.square {
    flex: 1;
    border: solid thin black;
}

footer {
    font-size: 24px;
}